/* @override 
	http://www.sunriverrentalsbyowner.com/s/s.css
	http://localhost:8888/SUNRIVER/s/s.css
	http://sunriverrentalsbyowner.com/s/s.css
*/

body {
	margin: 0;
	padding: 0;
	background: url(left_column.gif) repeat-y top left #DBDBB9;
}
p {
	font-family: Optima, Helvetica, Verdana, Arial, sans-serif;
	font-size: 1em;
	margin: 0;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #333;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #663300;
	padding: 3px 0 0 0;
	border-bottom: 3px double #663300;
	font-weight: normal;
	margin: 5px 0 5px 0;
}
.listing {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #333;
}
h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #fff;
	background-color: #663300;
	padding: 2px;
	font-weight: normal;
	border: 1px solid #333;
	margin: 10px 0 0 0;
	clear: left;
}
h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #000;
	padding-bottom: 0;
	margin-bottom:0;
	margin-top: 10px;
	border-bottom: 1px solid black;
	font-weight:bold;
}

/* DIVS */

#top {
	background-color: #586931;
	height: 60px;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	clear: right;
}
#top img {
	padding: 0;
	margin: 0;
	border: 0;
}
#top img.left {
	position: absolute;
	top: 0;
	left: 0;
}
#top img.right {
	position: absolute;
	top: 0;
	right: 0;
}
#leftCol {
	background: url(leftCol_back.png) no-repeat top left #586931;
	height: 95%;
	width: 187px;
	position: absolute;
	left: 0;
	top: 60px;
}
#nav {
	margin: 140px 0 0 22px;
	background: url(menu_back2.gif) repeat-y;
}
#nav p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #630;
	text-align: right;
	margin: 0 17px 0 10px;
	padding: 3px 0 10px 20px;
}
#nav ul {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #fff;
	margin: 0 0 0 3%;
	padding: 0 0 0 14px;
}
#nav ul li {
	list-style-type: none;
	margin: 0 17px 0 0;
	border-top: 1px solid #fff;
	line-height: 180%;
}
#nav a {
	color: #fff;
}
#nav a:link {
	color: #fff;
	text-decoration: none;
}
#nav a:hover {
	color: #630;
	text-decoration: none;
}
#nav a:visited {
	text-decoration: none;
}
#content {
	margin: 0 0 0 0;
	padding: 20px 20px 100px 20px;
	position: absolute;
	left: 187px;
	top: 60px;
	right: 0;
	background: url(content_corner_08.jpg) no-repeat top left;
}
#content p {
	font-family: Optima, Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 140%;
	color: #3B4C2A;
	padding: 0 0 13px 0;
}
#content a {
	color: #600;
	text-decoration: none;
}
#content a:link {
	color: #600;
	font-weight: bold;
	text-decoration: none;
}
#content a:hover {
	color: #960;
	text-decoration: underline;
	font-weight: bold;
}
#content a:visited {
	text-decoration: none;
	font-weight: bold;
}
#content ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#content li {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 11px;
	border: 1px solid #333;
	padding: 2px;
	margin: 1px 0 0 0;
	font-weight: normal;
	background-color: #6c7b40;
	color: #fff;
}
#content ul.list_002 {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
#content ul.list_002 li {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #c8c8aa;
	padding: 10px 0;
	margin: 1px 0 0 0;
	font-weight: normal;
	background-color: transparent;
	color: #323d1a;	
}
#content td {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: #de6d00;
	padding-right: 5px;
	border-left: 1px solid #643200;
}
#content td.home {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	background-color: #eee;
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #630;
	border-right: 1px solid #643200;
}
#content td.home p {
	font-size: 11px;
	line-height: 100%;
	color: #630;
}
#content td.title {
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	color: #fff;
	background: url(wood_back.jpg) repeat;
	padding: 4px 4px 0 4px;
	font-weight: bold;
	margin: 0;
	border-top: 1px solid #630;
	border-left: 1px solid #630;
	letter-spacing: 1px;
}
#content td.image {
	background: url(wood_back.jpg) repeat;
	border-top: 5px solid #630;
	padding: 5px;
	border-right: 1px solid #643200;
}
#content td.image p {
	color: #ffffff;
	padding: 0;
	margin: 0;
	font-size: 1.3em;
	line-height: 1.4em;
}
#content td.image h1 {
	margin: 0;
	color: #FFFF99;
	padding-top:10px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
#content td.pricing {
	background-color: #DBDBB9;
}
#content td.pricing p {
	padding: 2px 5px;
	color: #333;
}
#amenities {
	position: relative;
	width: 175px;
	top: 0;
	float: right;
	padding: 28px 0 0 10px;
}
#signup {
	position: absolute;
	top: 0px;
	right: 0;
	z-index: 50;
}
#specials {
	display: block;
	float: right;
	position: absolute;
	right:0;
	top: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
	z-index: 50;
}

/* SPAN CLASSES */

.imgLeft {
	margin: 2px 13px 13px 0;
	padding: 0;
	float: left;
	border: 1px solid #333;
}
.imgRight {
	float: right;
	margin: 2px 10px 8px 10px;
	padding: 0;
	border: 1px solid #333;
}
.imgRightNB {
	float: right;
	margin: 2px 10px 8px 5px;
	padding: 0;
	border: none;
}
.imgLeftTable {
	margin: 2px 5px 5px 0;
	padding: 0;
	float: left;
	clear: right;
	border: 4px solid #663300;
}
.special {
	width: 5px;
	visibility: hidden;
}
#contactForms {
	width: 500px;
}
#contactForms table tr td
{
	background-color: transparent;
	border: none;
	font-size: 0.9em;
	line-height: 150%;
	font-weight: normal;
	color: #2d3619;
	padding-bottom: 3px;
	padding-top: 3px;
	vertical-align: top;
}
#contactForms table tr {
}
#contactForms table {
	padding-top: 20px;
}
#contactForms tr.light {
	background-color: #c7c8aa;
}


.fb {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	float: right;
}
